body {
  background-color: #23272A;
}

p, a {
  color: white;
}

.App {
  text-align: center;
}

h2, h3 {
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
}

.container {
  padding-top: 100px;
}

hr {
  border-top: 0.5px dotted white;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

ul, ol { 
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

nav a {
  text-decoration: none;
  margin-right: 10px;
}

nav a:hover {
  color: #faecc0;
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  color: white;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: #23272A !important;
}

ul li {
  list-style-type: none;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: grey 0 0 2px;
  background-color: rgba(0,0,0,.8);
}

.navbar-nav {
  color: white;
  text-transform: uppercase;
}

.nav-title {
  font-weight: bold;
}

.nav-title, .navbar-text {
  text-transform: uppercase;
}

.accueil-banniere {
  color: white;
}

.accueil-title {
  font-weight: bold; 
  font-size: 120px; 
  filter: brightness(100%); 
  text-transform: uppercase; 
  text-shadow: 1px 1px 2px black; 
  background-color: rgba(0,0,0,.1);
  padding-top: 300px;
}

.accueil-text {
  font-size: 30px;
}

.btn {
  color: #23272A;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0 solid transparent;
  font-size: 16px;
  border-radius: 0;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 50px;
  cursor: pointer;
  padding: 0 40px;
}

.btn-primary {
  background-image: linear-gradient(20deg,#cdad76,#faecc0 53%,#cdad76);
  color: #23272A;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.6);
  background-color: #cdad76;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background: #000;
  border: 1px solid #bf9751;
}

.accueil-banniere .bounce {
  color: #faecc0;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  text-shadow: 3px 3px 16px #272634;
}

.fas {
  cursor: pointer;
}

.erreur-content {
  padding-top: 200px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.erreur-title {
  font-weight: bold;
  font-size: 30px;
}

.erreur-title span {
  font-size: 80px;
}

.erreur-content a {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #23272A;
  border-bottom: #23272A 5px solid;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.movies {
  margin-top: 40px;
}

.content, .detail-film-poster {
  padding: 20px;
}

.detail-film {
  margin-bottom: 10px;
  box-shadow: grey 0 0 10px 2px;
  padding: 20px;
}

.detail-film-poster img {
  width: 100%;
}

.detail-film-videos a {
  color: rgb(52, 58, 64);
  text-transform: uppercase;
  font-weight: bold;
}

.film-production-flag {
  width: 30px;
  margin-bottom: 10px;
  margin-right: 10px;
  display: inline-block;
}

.fa-thumbs-up {
  color: green;
}

.film-detail {
  font-size: 14px;
  margin-bottom: 0;
  color: #cdad76;
  text-transform: uppercase;
  font-weight: bold;
}

.film-detail span {
  font-weight: initial;
  color: white;
}

.film-detail-duree {
  text-transform: lowercase;
}

.film-detail-cast div {
  display: inline-block;
  width: 200px;
  margin-right: 10px;
  text-align: center;
  height: 375px;
}

.film-detail-cast-name {
  margin-top: 10px;
}

.film-detail-videos p div, .film-detail-cast-photos {
  display: flex;
  flex-wrap: wrap;
}

.film-detail-cast-photos img {
  margin-right: 10px;
  height: 300px;
}

.film-detail-photos img {
  width: 50%;
  padding: 10px;
}

.film-detail-videos p div div {
  width: 50%;
}

.film-detail-videos p p {
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.film-detail-title {
  font-size: 26px;
  text-transform: uppercase;
}

.film-detail-keywords p {
  text-transform: uppercase;
  display: inline-block;
  margin-right: 10px;
  background-color: lightgrey;
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  color: #23272A;
}

.similar-films {
  margin-bottom: 10px;
  box-shadow: grey 0 0 10px 2px;
  padding: 20px;
}

.similar-films-title {
  padding: 20px;
  text-align: center;
  color: white;
}

.similar-film-detail a {
  text-decoration: none;
}

.similar-film-detail img {
  height: 200px;
  display: block;
  margin: 0 auto;
}

.similar-film-detail p {
  text-align: center;
}

.similar-film-detail-rating {
  display: flex;
  justify-content: center;
}

.no-margin-bottom {
  display: inline-block;
  margin-bottom: 0;
}

.film-types-suite {
  font-size: 16px;
  padding-top: 10px;
  text-decoration: underline;
}

.film-types-title, .film-types-date {
  font-size: 18px;
  text-transform: uppercase;
}

.film-types-title {
  font-weight: bold;
}

.film-types-date {
  font-weight: 300;
}

a#nav-infos-tab.nav-item.nav-link.active {
  color: #23272A !important;
}

.nav-link {
  color: white !important;
}

.dv-star-rating-star.dv-star-rating-star.dv-star-rating-empty-star {
  color: white !important;
}

.fa-chevron-right, .fa-chevron-left {
  color: white;
}

.film-types-container {
  padding-left: 10px;
}

.film-types-img, .film-types-img-first {
  width: 100%;
  height: 300px;
}

.film-types-img {
  padding: 10px;
}

.film-types-img-first {
  padding: 10px 0 10px 0;
}