.App {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  text-align: center;
}

ul, ol { 
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

nav a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

nav a:hover {
  color: #faecc0;
  text-decoration: none;
  transition: 0.3s;
}

a {
  color: black;
}

a:hover {
  color: black;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: #414141 !important;
}

ul li {
  list-style-type: none;
}

.navbar {
  position: fixed;
  z-index: 1000;
  width: 100%;
  box-shadow: grey 0 0 10px;
  background-color: rgba(0,0,0,.8);
}

.navbar-nav {
  color: white;
  text-transform: uppercase;
}

.nav-title {
  font-weight: bold;
}

.nav-title, .navbar-text {
  text-transform: uppercase;
}

.accueil-banniere {
  color: white;
}

.accueil-title {
  font-weight: bold; 
  font-size: 120px; 
  filter: brightness(100%); 
  text-transform: uppercase; 
  text-shadow: 1px 1px 2px black; 
  background-color: rgba(0,0,0,.1);
  padding-top: 300px;
}

.accueil-text {
  font-size: 30px;
}

.btn {
  color: #414141;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 0 solid transparent;
  font-size: 16px;
  border-radius: 0;
  transition: all .2s ease-in-out;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 900;
  line-height: 50px;
  cursor: pointer;
  padding: 0 40px;
}

.btn-primary {
  background-image: linear-gradient(20deg,#cdad76,#faecc0 53%,#cdad76);
  color: #414141;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.6);
  background-color: #cdad76;
}

.btn-primary:hover, .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active {
  background: #000;
  border: 1px solid #bf9751;
}

.accueil-banniere .bounce {
  color: #faecc0;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 10px);
  text-shadow: 3px 3px 16px #272634;
}

.fas {
  cursor: pointer;
}

.erreur-content {
  padding-top: 200px;
  color: white;
  text-shadow: 1px 1px 2px black;
}

.erreur-title {
  font-weight: bold;
  font-size: 30px;
}

.erreur-title span {
  font-size: 80px;
}

.erreur-content a {
  color: white;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
  color: #414141;
  border-bottom: #414141 5px solid;
}

.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}